body { 
    padding-top: 100px;

}

.carousel-marque{
    width: 40%;
    background-color: #002752;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-30{
    padding-left: 30px;
}


.background-color-grey{
    background-color: whitesmoke;
}

.text-color-white{
    color: white;
}
  
.footer-font{
    font-size: smaller;
}

.jumbotron-background{
    background-image: url(../img/voiture-jumbotron.jpg);
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
}