body { 
    padding-top: 100px;

}

.fond-route{
    background-color:black;
    background-image: url(../img/fond-site_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-30{
    padding-left: 30px;
}


.background-color-grey{
    background-color: whitesmoke;
}

.text-color-white{
    color: white;
}
  
.footer-font{
    font-size: smaller;
}