body { 
    padding-top: 75px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-30{
    padding-left: 30px;
}


.background-color-grey{
    background-color: whitesmoke;
}

.text-color-white{
    color: white;
}